.panel {
	background: rgba(0,0,0, 0.8);
	border-radius: 10px;
}

#container {
	margin: 0 auto;
	width: 940px;
	height: 900px;
	background: #bbb;

}

#test-div {
	position: relative;
	top: 50px;
	left: 200px;
	width: 600px;
	height: 600px;
	background: teal;
}